@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=UnifrakturMaguntia&display=swap');


:root {
  --box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.05);
  --box-shadow-inverted: 0px -6px 16px rgba(0, 0, 0, 0.05);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

.brick-bg {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.brick-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('../images/Lego-Background.webp');
  transform: scale(2.2);
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  z-index: -1;
  opacity: 0.8;
}

a:hover {
  cursor: pointer;
}

/* ------------------------------------- */
/* Nav */
/* ------------------------------------- */

nav {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background: white;
  padding: 8px 20px;
  position: sticky;
  top: 0;
  align-items: center;
  text-align: center;
  gap: 20px;
  list-style: none;
  box-shadow: var(--box-shadow);
  z-index: 9999;
}

nav img {
  position: relative;
  min-width: 200px;
  width: 30%;
}

.logo-button {
  display: flex;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

nav ul {
  display: flex;
  gap: 18px;
  list-style: none
}

nav a {
  display: flex;
  text-decoration: none;
  color: inherit;
  transition: .5s;
}

.nav {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 20px;
  list-style: none;
}

.nav li a {
  display: inline-block;
  position: relative;
}

nav li a:hover {
  transform: scale(1.2);
}

nav li a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

nav li a:hover:after {
  width: 100%;
  left: 0;
}

/* ------------------------------------- */
/* Header */
/* ------------------------------------- */


header {
  /* background: #fafafa;
  padding: 18px 0;
  border-bottom: 1px solid #e9e9e9; */
}

.container {
  /* max-width: 1100px; */
  max-width: 70%;
  margin: 0 auto;
  padding: 0 20px;
}


header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px
}

.button {
  border: none;
  background-color: #0099FF;
  color: white;
  padding: 15px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  background-color: #007ACC;
}

.logo img {
  height: 40px;
  display: block
}

.hero {
  padding: 56px 0
}

.hero .container {
  display: flex;
  flex-direction: row;
  gap: 36px;
}

.hero h1 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  /* font-family: 'Bowlby One SC'; */
  font-size: 48px;
  letter-spacing: 6px;
  margin-bottom: 12px;
  /* color: white; */
}

.hero p {
  color: #666;
  line-height: 1.6
}

.hero-media img {
  width: 80%;
  height: auto;
  border-radius: 6px;
  box-shadow: var(--box-shadow);
}

/* ------------------------------------- */
/* Main */
/* ------------------------------------- */

.section {
  display: flex;
  flex-flow: column;
  gap: 50px;
}

.section-title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 28px;
  font-weight: 800
}

.two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 45px;
  align-items: center
}

.two-col .reverse {
  grid-auto-flow: dense
}

.col {
  width: 100%;
  height: auto;
  border-radius: 6px;
  display: block
}

.image-goal img {
  height: 250px;
  width: 300px;
}

#innovation {
  text-align: justify;
}

.image-innovatie {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  position: relative; 
  min-height: 250px;
}

.image-product img {
  height: 250px;
  width: 300px;
}

.card {
  background: #ffffff;
  padding: 20px;
  border-radius: 6px;
  box-shadow:var(--box-shadow);
}

.feature-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 18px
}

.feature {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  padding: 18px;
  background: #fff;
  border-radius: 8px;
  /* border: 1px solid #f0f0f0 */
  transition: .2s;
}

.feature:hover {
  transform: scale(1.01);
}

.feature img {
  width: 120px;
  height: auto;
  border-radius: 6px
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0
}

/* ------------------------------------- */
/* Mobile */
/* ------------------------------------- */

@media (600px <= width <= 900px) {

  .hero .container {
    grid-template-columns: 1fr;
  }

  .two-col {
    grid-template-columns: 1fr
  }

  .feature-cards {
    grid-template-columns: 1fr
  }

  header .container {
    flex-direction: column;
    align-items: flex-start
  }

  header nav ul {
    flex-wrap: wrap
  }
}

@media (300px <= width <= 600px) {

  .hero .container {
    grid-template-columns: 1fr;
  }

  .two-col {
    grid-template-columns: 1fr
  }

  .feature-cards {
    grid-template-columns: 1fr
  }

  header .container {
    flex-direction: column;
    align-items: flex-start
  }

  header nav ul {
    flex-wrap: wrap
  }
}